XMLTests/src/main/resources/XSD/exemplo2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="employee">
  <xs:complexType>
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element name="address">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="addressLine1"/>
            <!-- xs:element type="xs:string" name="addressLine2"/ -->
            <xs:element type="xs:string" name="country"/>
            <xs:element type="xs:string" name="state"/>
            <xs:element type="xs:short" name="zip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:string" name="assestsAllocated" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
